{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<head>
	
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<title>Home</title>
</head>
<body>

	<div class="container card">
    <h1>Available openings</h1>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Company</th>
                <th>Position</th>
                <th>Description</th>
                <th>Salary (USD)</th>
                <th>Location</th>
                <th>Join</th>

            </tr>
            {% for c in job_list %}
                <tr>
                    <td>{{c.company_name}}</td>
                    <td>{{c.position}}</td>
                    <td>{{c.description}}</td>
                    <td>{{c.salary}}</td>
                    <td>{{c.Location}}</td>
                    <td><a href="{% url 'apply' %}" class="btn btn-info btn-sm" type="submit">Apply</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>


</body>


{% endblock content %}